<!-- Header / Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand" routerLink="/">Angular 19 App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about-us" routerLinkActive="active" ariaCurrentWhenActive="page">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact-us" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/faq" routerLinkActive="active" ariaCurrentWhenActive="page">FAQ's</a>
                </li>
            </ul>
            <div class="d-flex">                
                @if(isLoggedIn()) {
                    <button class="btn btn-secondary rounded-5" (click)="profile()">Profile</button>
                    <button class="btn btn-secondary rounded-5" (click)="logout()">Logout</button>
                } @else {
                    <button class="btn btn-secondary rounded-5" (click)="login()">Login</button>
                }
            </div>
        </div>
    </div>
</nav>